# SendGrid API Key
SENDGRID_API_KEY=

# Pushbullet API Key and Secret
PUSHBULLET_API_KEY=
PUSHBULLET_E2E_ENCRYPTION=

# Email Settings
EMAIL_SEND_FROM=
EMAIL_SEND_TO=

# Search Settings
AREA_TO_SEARCH=rotterdam
